<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head:: head}"></head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
<br>
    <h2 class="text-center mt-5 pt-5">Add Post</h2>
<br>
    <form th:action="@{/post/add_submit}" method="post" th:object="${post}" class="container mt-4" style="max-width: 600px;">
        <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title:</label>
            <input type="text" id="title" name="title" th:field="*{title}" class="form-control" required>
        </div>
<br>
        <div class="mb-3">
            <label for="content" class="form-label fw-bold">Content:</label>
          <textarea id="content" name="content" th:field="*{content}"
          class="form-control" rows="5" required
          style="width: 570px; text-align: left; vertical-align: top;"></textarea>
        </div>
<br>
        <div class="text-end mt-4">
            <button type="submit" class="btn btn-lg px-5" style="background-color: #000; color: #fff; width: 570px;">
                Upload
            </button>
            <br><br>
        </div>
    </form>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
