<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head:: head}"></head>


<body>
 


    <!-- Page Header Start -->
   <div th:replace="~{fragments/header :: header}" ></div>
    <!-- Page Header End -->
 <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
   
            <div>
                <form action="#" th:action="@{/register}" method="post" th:object="${account}">
                  

               
                        <input type="text" id="firstName" th:field="*{firstName}" placeholder="FirstName">
                    <br>
                        <input type="text" id="lastName" th:field="*{lastName}" placeholder="LastName">
                   <br>
                        <input type="email" id="email" th:field="*{email}" placeholder="Email">
                       <br>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"  role="alert"></p>
                   
                
              
                        <input type="text" id="password" th:field="*{password}" placeholder="Password">
                   

        <button type="submit">
            Register
        </button>
                </form>
            </div>
  






    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


 <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script src="js/main.js"></script>
</body>

</html>